<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{% block title%} {% endblock %}</title>
    <!--  <style>
       {% block css %}
        {% endblock %}
  </style> -->
  <style>
    body {
      background-color: LightBlue;
  }

  #page-container {
    position: relative;
    min-height: 10vh;
  }

  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

 /* #footer {
    position: absolute;
    bottom: 0;
     height: 25rem;
    background-color: Teal;          /* Footer height */
  
   footer {
          text-align: center;
          padding: 10px;
          background-color:teal;
          color: white;
          height: 200px;
        }
    

    .fa-instagram{
      padding-right: 20px;
    }

  </style>



  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="{% url "homepage1" %}">CoursesOnCart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url "ShopHome" %}">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/shop/contact">Contact</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url "AboutUs" %}">About Us</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Courses
        </a>
        <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
          <!-- <a class="dropdown-item" href="#">Python</a>
          <a class="dropdown-item" href="#">Java</a>
          <a class="dropdown-item" href="#">Machine Learning</a> -->
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        <!-- </div> -->
      <!-- </li> -->

    </ul>
    <form method='get' action='/shop/search/' class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>
 
<div class="container my-3">
    <h3>Contact Us</h3>
    <form action="/shop/contact/" method="post">
  <div class="form-group">
    <label for="username">Name</label>
    <input type="text" class="form-control" id="username" name='username' placeholder="Enter Your Name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email">
  </div>

    <div class="form-group">
    <label for="phone">Phone</label>
    <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number">
  </div>


   <div class="form-group">
    <label for="query">How May We Help You?</label>
    <textarea class="form-control" id="query" name='query' rows="3"></textarea>
  </div>
        <button type="submit" class="btn btn-success">Submit</button>
</form>
<div id="page-container" style="color:white">
  <div id="content-wrap">
    <!-- all other page content -->
<!-- 
  </div>
  <footer id="footer">
    <h5>Phone No. : </h5>
    Mobole : </footer>
</div>
 -->

</div>
</div>
</div>



<footer class='container-fluid'>
  <h2>For contact</h2>
  <p>coursesoncart@gmail.com</p>
  <p>phone no:99999999</p>
  <i class="fa fa-facebook-square" style="font-size:30px"></i><span>  </span>
  <i class="fa fa-instagram" style="font-size:30px"></i>

</footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
