{% extends 'shop/basic.html' %}

{% block title%} Title of About{% endblock %}
{% block body %} This is body

<div class="col-12 col-sm-6 offset-md-1">
      <div class="mb-0 mb-md-6">
            <div class="mt-heading-heart d-inline">
                <h2 class="text-responsive-h2 d-inline"><br />Strategically creative </h2>
            </div>
                <h3 class="text-responsive-h4 text-opacity font-weight-light">No nasties added</h3>
        </div>
        <div class="d-none d-lg-block">
            <span class="mt-monogram mb-4"></span>
                <p>MintTwist is an award-winning digital agency in London, and we look to engage with our clients beyond the conventional design and development agency relationship, becoming a partner to the people and companies we work with.</p>
                <p>Based in London, we work closely with brands from around the world to build immersive digital experiences. It is our mission to create digital campaigns that are not only innovative and market leading but, most importantly, deliver commercial success. Our experts are strategic and creative.</p>
                <p>Whether you need to create a new website, improve your search engine optimisation or create engaging content we can drive your business to greater digital efficiency.</p>
        </div>
</div>
<div class="col-12 d-lg-none mt-5">
      <span class="d-block bg-dark mb-4" style="width: 48px; height: 8px;"></span>
          <p>MintTwist is an award-winning digital agency in London, and we look to engage with our clients beyond the conventional design and development agency relationship, becoming a partner to the people and companies we work with.</p>
          <p>Based in London, we work closely with brands from around the world to build immersive digital experiences. It is our mission to create digital campaigns that are not only innovative and market leading but, most importantly, deliver commercial success. Our experts are strategic and creative.</p>
          <p>Whether you need to create a new website, improve your search engine optimisation or create engaging content we can drive your business to greater digital efficiency.</p>
</div>

{% endblock %}
